:root {
    --hover: #be8f3e;
    --color: #bb934f;
    --blue: #252b4b;
}

.container-logo {
    background-color: black;
}

.menu {
    margin-left: 5%;
}

.navbar {
    background-color: var(--blue);
}

.nav-link {
    color: white;
}

.carrusel {
    background-color: var(--blue);
    padding-bottom: 2%;
}

.productos {
    padding-top: 10px;
}

h5 {
    text-align: center;
}

.card {
    margin: 2px;
    justify-content: center;
}

.productos div a {
    background-color: var(--color);
    border-color: var(--color);
}

.productos div a:hover,
.productos div a:focus {
    background-color: var(--hover);
    border: var(--hover);
    color: white;
}

.list-group-item.active {
    background-color: var(--hover) !important;
    border-color: var(--hover) !important;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: var(--blue);
    color: var(--color);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    padding-top: 7px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: var(--blue);
    background-color: var(--color);
}

.my-float {
    margin-top: 16px;
}

footer,
footer a,
.numero {
    color: var(--color) !important;
}

footer,
footer a,
.numero:hover {
    color: var(--hover);
}

footer div {
    background-color: var(--blue);
}

footer li {
    text-align: center;
}