.container-logo{
    background-color: black;
}
.menu{
    margin-left: 5%;
}
.navbar{
    background-color: #252b4d;
}
.nav-link{
    color: white;
}
.carrusel{
    background-color: #252b4d;
    padding-bottom: 1%;
}
.row-header{
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; 
    background-color: #252b4d;
}